<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Nasi</title>
      <link href="/css/output.css" rel="stylesheet">
      <link href="/css/style.css" rel="stylesheet">
   </head>
   <body>
      <div class="grid grid-cols-1 auto-rows-auto gap-0">
         <div class="image-container bg-cover bg-center z-10 flex flex-col relative h-auto" >
            <nav class="sticky top-0 z-50 bg-white backdrop-filter backdrop-blur-lg bg-opacity-30 font-heading text-xl text-green px-4 pt-1">
               <div class="container mx-auto flex justify-center items-center py-4">
                  <div class="space-x-24">
                     <a href="#" class="text-green-500 text-xl hover:text-gold-light hover:font-bold">Home</a>
                     <a href="#" class="text-green-500 text-xl hover:text-gold-light hover:font-bold">How It Works</a>
                     <a href="#" class="text-green-500 text-xl hover:text-gold-light hover:font-bold">Map</a>
                  </div>
               </div>
            </nav>
            <div class="content-overlay z-25 text-center flex flex-col justify-center items-center pt-48 h-auto">
               <img src="./images/nasi-low.png" width="400" clas="mb-6">
               <h1 class="text-5xl font-bold font-heading text-green mb-3 w-7/12">Nourishment Alert and Surveillance Interface</h1>
               <h2 class="text-xl font-heading w-1/2">Food security in West Java, Indonesia, becomes a critical issue amid rapid population growth and intensive agricultural land conversion. Utilizing deep learning and Artificial Neural Network (ANN) technologies, this analysis models the change in land cover from 2020 to 2032 and predicts population growth in the same period. The aim is to assist in ensuring future food security through strategies that take into account population dynamics and changes in agricultural land area, as well as providing a basis for effective policies in maintaining sustainable food supply in the region.</h2>
            </div>
         </div>
         <div class="relative z-0 flex-wrap justify-center px-4 p-6 gradient-background">

            <div class="container mx-auto p-4">
               <div class="grid lg:grid-cols-3 md:grid-cols-1 sm:grid-cols-1 gap-10 items-center">
                  <div class="flex justify-center items-center bg-white rounded-3xl shadow-md border-gray-200 min-w-min">
                     <div class="flex flex-col items-center p-6">
                        <img class="flex mb-5 rounded-xl h-48 w-auto "  src="./images/kebakaran.jpg">
                        <h2 class="text-2xl text-green font-heading mb-2 text-center font-bold">Indoesia Emas 2045</h2>
                        <p class="text-green text-xl font-body text-center w-3/4">
                           One of the pillars of Indonesia Emas Vision is sustainable economic development. There are several indicators that must be realized to establish this pillar, one of which is the consolidation of food security and the improvement of the welfare of farmers.
                        </p>
                     </div>
                  </div>
                  <div class="flex justify-center items-center bg-white rounded-3xl shadow-md border-gray-200 min-w-min">
                     <div class="flex flex-col items-center p-6">
                        <img class="flex mb-5 rounded-xl h-48 w-auto"  src="./images/kekeringan.jpeg">
                        <h2 class="text-2xl text-green font-heading mb-2 text-center font-bold">Deep Learning</h2>
                        <p class="text-green text-xl font-body text-center w-3/4">
                           The integration of deep learning and GIS analysis yields an assessment of land cover changes and population expansion in West Java, providing recommendations to policymakers in preventing food crises.
                        </p>
                     </div>
                  </div>
                  <div class="flex justify-center items-center bg-white  rounded-3xl shadow-md border-gray-200 min-w-min">
                     <div class="flex flex-col items-center p-6">
                        <img class="flex mb-5 rounded-xl h-48 w-auto"  src="./images/banjir.jpg">
                           <h2 class="text-2xl text-green font-heading mb-2 text-center font-bold">WebGIS</h2>
                           <p class="text-green text-xl font-body text-center w-3/4">
                              This WebGIS serves as an information platform and collaboration hub between various parties to achieve food security in West Java, in line with the realization of Indonesia Emas Vision 2045.
                           </p>
                     </div>
                  </div>
               </div>
            </div>
            <div class="flex justify-center items-center h-screen">
               <iframe 
                   class="w-4/5 h-4/5"
                   frameborder="0" 
                   style="overflow:hidden;overflow-x:hidden;overflow-y:hidden;" 
                   src="https://dustinedw.maps.arcgis.com/apps/dashboards/ff94282d78b44eccabde556dab093413">
               </iframe>
           </div>
           <div class="flex justify-center items-center h-screen">
            <iframe 
                class="w-4/5 h-4/5"
                frameborder="0" 
                style="overflow:hidden;overflow-x:hidden;overflow-y:hidden;" 
                src="https://dustinedw.maps.arcgis.com/apps/dashboards/fbf36107c08f443bb88440d3bc9ae67a">
            </iframe>
        </div>
        <div class="flex justify-center items-center h-screen">
         <iframe 
             class="w-4/5 h-4/5"
             frameborder="0" 
             style="overflow:hidden;overflow-x:hidden;overflow-y:hidden;" 
             src="https://dustinedw.maps.arcgis.com/apps/dashboards/6c166131559f4b1589b57116a79a0cd2">
         </iframe>
     </div>
     <div class="flex justify-center items-center h-screen">
      <iframe 
          class="w-4/5 h-4/5"
          frameborder="0" 
          style="overflow:hidden;overflow-x:hidden;overflow-y:hidden;" 
          src="https://dustinedw.maps.arcgis.com/apps/dashboards/3ba3f4a2c05141f3969b32023d9701b2">
      </iframe>
  </div>
           
         </div>
      </div>
   </body>
</html>