
.gradient-background {
    min-height: 50vh;
    background: linear-gradient(to top, #957135, #DFBC6A);
  }

  .image-container {
    position: relative;
    height: 50vh; /* Adjust the height as needed */
    background: url('/images/padi.jpg') center center no-repeat;
    background-size: cover;
  }

  .image-container::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom, transparent, #DFBC6A 70%); /* Adjust the percentage and colors as needed */
  }

  .content-overlay {
    position: absolute;
    top: 45%; /* Adjust position as needed */
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    z-index: 10;
  }
  .navbar a:hover {
    background-color: rgba(255, 255, 255, 0.3);
  }
  /* This is the additional content that will sit below the image */
  .additional-content {
    padding: 2rem;
    text-align: center;
  }
/* Apply a base padding-top value */
.div-padding-responsive {
  padding-top: 5rem; /* base size */
}

/* Increase padding-top based on the height of the viewport */
@media screen and (max-height: 800px) {
  .div-padding-responsive {
    padding-top: 4rem; /* smaller size for smaller heights */
  }
}

@media screen and (max-height: 600px) {
  .div-padding-responsive {
    padding-top: 3rem; /* even smaller size for even smaller heights */
  }
}
